@import "tailwindcss";
@layer base {
    :root {
        --font-bebas: "Bebas Neue", sans-serif;
    }
}

@layer utilities {
    .font-bebas {
        font-family: var(--font-bebas);
    }
}
@layer base {
    .font-comic{
        font-family: 'Comic Neue', sans-serif;
    }
}
@layer utilities {
    @keyframes scroll-bg {
        0% {
            background-position: 0% 0%;
        }
        100% {
            background-position: 100% 0%;
        }
    }

    .animate-scroll-bg {
        animation: scroll-bg 40s linear infinite;
        background-repeat: repeat-x;
    }
}
.loader {
    --s: 25px;
    --g: 5px;

    width: calc(3 * (1.353 * var(--s) + var(--g)));
    display: grid;
    justify-items: end;
    aspect-ratio: 3;
    overflow: hidden;
    --_m: linear-gradient(90deg, #0000, #000 15px calc(100% - 15px), #0000);
    -webkit-mask: var(--_m);
    mask: var(--_m);
}
.loader:before {
    content: "";
    width: 200%;
    background:
            linear-gradient(90deg, #3b82f6 50%, #0000 0),
            conic-gradient(from -90deg at var(--s) calc(0.353 * var(--s)),
            #3b82f6 135deg,
            #000 0 270deg,
            #1e293b 0);
    background-blend-mode: multiply;
    --_m:
            linear-gradient(to bottom right,
            #0000 calc(0.25 * var(--s)),
            #000 0 calc(100% - calc(0.25 * var(--s)) - 1.414 * var(--g)),
            #0000 0),
            conic-gradient(from -90deg at right var(--g) bottom var(--g), #000 90deg, #0000 0);
    -webkit-mask: var(--_m);
    mask: var(--_m);
    background-size: calc(100% / 3) 100%, calc(100% / 6) 100%;
    -webkit-mask-size: calc(100% / 6) 100%;
    mask-size: calc(100% / 6) 100%;
    -webkit-mask-composite: source-in;
    mask-composite: intersect;
    animation: l10 1s infinite linear;
}
@keyframes l10 {
    to {
        transform: translate(calc(100% / 3));
    }
}
html, body {
    overflow-x: hidden;
}
@keyframes shine {
    0% {
        background-position: -200%;
    }
    100% {
        background-position: 200%;
    }
}

.shine {
    background-size: 200% auto;
    animation: shine 2s linear infinite;
}